<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>TV Control</title>
        <!-- Font Awesome icons (free version)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
            <div class="container">
                <div class="row">
                    <a class="col-sm col-lg-3 btn-primary btn btn-lg mx-2 my-3" href="http://10.122.2.80:1011/?sw=2">
                      TV 1 POWER
                    </a>
                    <a class="col-sm col-lg-3 btn-secondary btn btn-lg mx-2 my-3" href="http://10.122.2.80:1012/?sw=2">
                      TV 2 POWER
                    </a>
                    <a class="col-sm col=lg-3 btn-success btn btn-lg mx-2 my-3" href="http://10.122.2.80:1014/?sw=2">
                      TV 4 POWER
                    </a>
                    <a class="col-sm col=lg-3 btn-danger btn btn-lg mx-2 my-3" href="http://10.122.2.80:1015/?sw=2">
                      TV 5 POWER
                    </a>
                </div>
            </div>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>