<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GSM Digital Noticeboard</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/styles_article.css" rel="stylesheet" />
        <!-- 웹 브라우저에서 마우스 숨기기 -->
        <style type="text/css"> html { cursor: none; }</style>
    </head>
    <body id="page-top">
        <!-- Image Section-->
        <% for(var i = 0; i < results.length; i++){ %>
        <section class="page-section" id="img<%=i %>" name="showImage">
            <img class="image-container" src=<%=results[i].article_img%> >
        </section>
        <% } %>

        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- 일정한 간격으로 이미지를 보여주는 javascript -->
        <script src="/javascripts/showImages.js"></script>
    </body>
</html>
