<header>
    <nav>
        <ul>
        <li><a href="/book">도서 검색</a></li>
        <li><a href="/book">도서 대여</a></li>
        <li><a href="/book">도서 관리(관리자 기능)</a></li>
        </ul>
    </nav>
</header>