<!DOCTYPE html>
<html>
  <% include ./parts/head %>
  <body>
    <h1>도서 페이지 <a href="/">Home</a></h1>
    <% include ./parts/login %>

    <img src="/images/iu_book.jpg" alt="">
    
    <p style="text-align: center;">Welcome to network and database textbook <%= title %></p>
  </body>
</html>