<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>도서 페이지 <a href="/">Home</a></h1>

    <div class="float-right">
      <% if(isLogin){ %>
          <a href="/member/logout"><button>Logout ( <%=user_name%> )</button></a>
          <a href="/member/modify"><button>회원정보</button></a>
        
      <% }else{ %>
        <form action="/member/login" method="post">
            <label><b>User Email</b></label>
            <input type="text" placeholder="Enter user email" name="email" required>
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
        </form>
      <% } %>
      </div>

    <img src="/images/iu_book.jpg" alt="">
    
    <p style="text-align: center;">Welcome to network and database textbook <%= title %></p>
  </body>
</html>