<!DOCTYPE html>
<html>
  <% include ./parts/head %>
  <body>
    <h1><%= title %></h1>
    <% include ./parts/login %>
    <% include ./parts/header %>

    <img src="/images/library.jpg" alt="">
    
    <p style="text-align: center;">Welcome to network and database textbook <%= title %></p>
  </body>
</html>