<%- include parts/head %>
<body>
    <%- include parts/header %>
    <div id="main">
        <img width="100px" src="images/book.png" alt="">
        <h2>책과 사람이 어우러지는 다독도서관</h2>
        <p>우리도서관은 항상 여러분들의 곁에서 배움과 휴식의 공간으로, 다양한 시민들에게 보편적인 독서프로그램과 정보서비스를 제공하기 위해 최선을 다하고 있습니다.</p>
        <p>책 속에 길이 있습니다.</p>
        <p>그 길을 언제나 밝혀주는 다독도서관이 되도록 노력하겠습니다. 많은 이용 바랍니다. 감사합니다.</p>
    </div>
    <%- include parts/footer %>