<% include ./parts/head %>
<body>
    <% include ./parts/header %>
    <div id="main">
        <img width="100px" src="image/book.png" alt="">
        <h1>다독 도서관 소개 내용</h1>
    </div>
    <% include ./parts/footer %>
</body>

</html>