<% include ./parts/head %>
<body>
    <% include ./parts/header %>
    <div>
        <form action="/signup" method="post">
            <fieldset>
                <legend>회원 가입</legend>
                <!--분류 
                    <select name="grade" id="grade">
                        <option value="">회원</option>
                        <option value="">운영자</option>
                    </select><br>-->
                이메일 <input type="email" name="email" id="email"><br>
                비밀번호 <input type="password" name="pwd" id="pwd"><br>
                비밀번호확인 <input type="password" name="pwd_confirm" id="pwd_confirm"><br>
                성  명 <input type="text" name="name" id="name"><br>
                연락처 <input type="tel" name="phone" id="phone"><br>
                <input type="submit" value="가입하기">
            </fieldset>
        </form>
    </div>
    <% include ./parts/footer %>